.painel {
  color: #FFF;
  margin: 15px;
}

.navigation:link,
.navigation:visited {
  font-size: 20px;
  color: #FFF;
  font-weight: 700;
  padding: 15px;
  text-decoration: none;
}

.navigation:hover,
.navigation:active {
  color: #2c2e43;
  font-weight: 900;
}