@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000022;
  /* #2c2e43; */
  /* #282c34 */
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  z-index: 1;
}

